.container{
  position: relative;
}
.status-message{
  position: absolute;
  top: -30px;
  padding: 5px;
  width: 100%;
  background-color: #ffebee;
}

.nav{
  &-brand{
    padding: 0px 20px;
  }
}

ul.tabs{
  overflow-x: hidden !important;
}