// Place all the styles related to the day_exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.exercises{
  &-list{
    padding-top: 20px;
  }
  &-item{
    padding: 10px;
    border: 0px solid #ee6e73;
    border-top-width: 2px;
    border-left-width: 30px;
  }
}