// Place all the styles related to the day_exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.exercise-short{
  &-container{
    display: block;
    padding-bottom: 7px;
  }
  &-order{
    float: left;
    width: 20px;
    font-weight: bold;
  }

  &-title{
    font-weight: bold;
  }

  &-description{
    font-size: 0.8em;
    color: darkslategrey;
  }
}

.exercises{
  &-list{
    padding-top: 20px;
  }
  &-item{
    border: 0px solid #ee6e73;
    border-top-width: 2px;
  }

  &-order{
    float: left;
    color: #eeeeee;
    font-size: 2em;
    text-align: center;
    width: 50px;
    padding: 20px 10px;
    background-color: #ee6e73;

  }

  &-description{
    padding-top: 10px !important;
  }

  &-delete{
    margin-top: 20px;
    background-color: #ee6e73;
    padding: 0 10px;
    i{
      margin-bottom: 5px;
    }
  }

  &-add{
    background-color: #ee6e73;
  }


}