.program-days{
  &-container{


  }

  .day{
    margin: 7px;
    border-top: 2px solid #ee6e73;
    background-color: #fbe9e7 ;
    .day-title{
      color: #eeeeee;
      font-size: 2em;
      text-align: center;
      width: 50px;
      padding: 20px 10px;
      background-color: #ee6e73;

    }
    .day-exercises{
      width: 80%;
    }

  }




}