.days{

  &-list{
    padding-top: 20px;
  }

  &-item{
    margin: 7px;
    border-top: 2px solid #ee6e73;
    background-color: #fbe9e7 ;
    position: relative;
  }
  &-order{
    float: left;
    color: #eeeeee;
    font-size: 2em;
    text-align: center;
    width: 50px;
    padding: 20px 10px;
    background-color: #ee6e73;
  }


  &-description{
    overflow: auto;
    padding: 10px;
  }

  &-delete{
    margin-top: 10px;
    background-color: #ee6e73;
    padding: 0 10px;
    i{
      margin-bottom: 5px;
    }
  }

  &-add{
    background-color: #ee6e73;
  }

  &-edit{
    position: absolute;
    right: 5px;
    bottom: 5px;
  }

}